<div class="flex flex-col space-y-4 mx-auto w-[50rem] border border-[#E5E5E5] shadow p-6">
    <div class="text-[#14213D] text-xl font-[700]">
        <h1>Edit Blog Post</h1>
    </div>
    <hr class="mb-1">
    <%= render partial: "form", locals: {blog_post: @blog_post} %>
</div>

