<h1 class="bg-red-500 py-1 px-3 mx-auto rounded">Reddit</h1>
<div class = "bg-gray-200 py-1 px-3 mx-auto rounded">
    <% @blog_posts.each do |blog_post| %>
        <div class="py-1 px-3 mx-auto border-solid border-b-2 border-gray-100">
            <h2 class="text-lg font-normal text-gray-500 no-underline bg-blue-400 py-1 px-3 mx-auto rounded hover:bg-blue-700 hover:text-gray-100"><%= link_to blog_post.title, blog_post, class: "no-underline hover:text-gray-100" %></h2>
            <% if blog_post.draft? %>
                <div class="p-2 rounded bg-gray-100 text-gray-900">Draft</div>
            <% elsif blog_post.scheduled? %>
                <div class="p-2 rounded bg-blue-100 text-blue-900">Scheduled</div>
            <% end %>
            <p><%= blog_post.content%></p>
        </div>
    <% end %>
</div>

<div class="flex justify-center my-16 py-1 px-3 ">
    <%== pagy_nav(@pagy) if @pagy.pages > 1%>
</div>
