@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
@import 'actiontext.css';

@import "~tailwindcss/base"; 
/* 
   Add the following markup AFTER your import statements
   Notice: this style contains only the rules for pagy-nav
*/

.pagy-nav.pagination {
  @apply isolate inline-flex -space-x-px rounded-md shadow-sm;
}

.page.next a {
  @apply relative inline-flex items-center rounded-r-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20;
}

.page.prev a {
  @apply relative inline-flex items-center rounded-l-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20;
}

.page.next.disabled {
  @apply relative inline-flex items-center rounded-r-md border border-gray-300 bg-slate-100 px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20;
}

.page.prev.disabled {
  @apply relative inline-flex items-center rounded-l-md border border-gray-300 bg-slate-100 px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20;
}

.page a, .page.gap {
  @apply bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center border px-4 py-2 text-sm font-medium focus:z-20;
}

.page.active {
  @apply z-10 border-indigo-500 bg-indigo-50 text-indigo-600 relative inline-flex items-center border px-4 py-2 text-sm font-medium focus:z-20;
}


body * {
  font-family: Helvetica, sans-serif, Arial;
}

p, span, a { 
  font-family: Helvetica, sans-serif, Arial;
}


/* Apply styles to the common parent element */
.nav-text {
  @apply text-black hover:text-[#14213D] text-center hover:font-bold text-lg mx-2 font-[400];
}

#plus-header {
  @apply text-4xl font-normal;
}

/* Apply styles to the "+" element within .nav-text */
.nav-text:hover #plus-header {
  @apply text-4xl font-normal text-[#9d9a9a];
}

/* Apply styles to the "Post" element within .nav-text */
.nav-text:hover .post-text {
  @apply hover:text-[#14213D] font-bold text-center;
}

.hover-strip:hover .strip {
  @apply bg-[#FCA311];
}

.form-input {
  @apply shadow border-white transition-colors duration-500 ease-in-out hover:bg-stone-100 hover:border-stone-100 focus:bg-white text-lg font-normal tracking-tight;
  border-width: 2px !important;
  @apply ring-0; 
}

.form-input::placeholder {
  @apply !font-extralight text-gray-400;
}

.form-input:focus {
  border: 2px solid #E5E5E5 !important;
  box-shadow: 0px 4px 8px 1px #E5E5E5 !important;
  @apply ring-0;
}

.form-input:active{
  border: 2px solid #14213D !important;
  box-shadow: 0px 4px 8px 1px #E5E5E5 !important;
  @apply ring-0;
}

input[type=file] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #14213D;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #FCA311;
}

.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #999;
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
  background: #f5f4f4;
  border-color: #888;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #14213D;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}