form {
    border: 2px;
    padding: 20px;
    display: block;
    position: relative;
    right: 0px;
    float: right;
    display: grid;
    gap: 10px;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
}

form,
li {
    list-style: none;
}

#form {
    border-radius: 20px;
    background-color: grey;
    transition: all 0.5s ease-in;
}

#form input:focus, #form textarea:focus{
    color: whie;
	background-color: lightblue;
    outline: 0;
}