main{
    display:flex;
    flex-direction: column;
}
@media (min-width: 600px) {
    main {
        flex-direction: row;
        /*background-color: black; */
    }
    body {
        line-height: 1.5;
        letter-spacing: 0.05em;
    }
    p {
        max-width: 70ch;
    }
}

/* Figure out how to center via positioning*/
header {
    font-size:2.5em;
    color: aliceblue;
    display: block;
    position: relative;
    text-align: center;
}

.highlight {
    color: aqua;
}

#profilePic {
    display: inline-block;
    float: left;
    max-width: 100%;
    height: auto;
    transition: rotate 2s;
}

#profilePic:hover {
    rotate: 360deg;
}


#hobbies { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 20px;
    border: 1px;
    margin: 20px;
    float: left;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow:hidden;
}

#hobbies li{
    padding: 10px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.skillTree {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
    border: 1px;
    margin: 20px;
    float: right;
}

#hobbies::after { 
    clear:both;
}
.skillTree::after { 
    clear:both;
}

.hide {
    display: none;
}

#top {
    background-color: black;
    color: white;
    position: sticky;
    bottom: 20px;
    float: right;
    clear: both;
    transition: all 0.5s ease-in;
}

#top:hover{
    background-color: aliceblue;
    color: black;
}

footer, hr {
    clear: both;
}

body {
    padding: 5px;
    font-size: 1em;
    width: 95%;
    max-width: 980px;
    margin: 0 auto; /*rgba(255, 0, 0, 0.398)*/
    background: -webkit-linear-gradient(rgba(255, 0, 0, 0.398),red);
}

@media (min-width: 600px) {
    .flex {
        flex-direction: row;
    }
}

@media (min-width: 900px) {
    header {
        font-size: 2.5em;
    }
    
}

@media (min-width: 1200px) {
    body {
        padding: 100px;
        width:50%
    }

    table, .highlight {
        margin: 30px;
    }
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.responsive-video iframe {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100%;
    height: 100%;
}