body {
 background-color: rgba(255, 0, 0, 0.398);   
}
/* Figure out how to center via positioning*/
header {
    font-size: larger;
    color: aliceblue;
    display: block;
    position: relative;
    text-align: center;
}

.highlight {
    color: aqua;
}

#profilePic {
    display: inline-block;
    float: left;
    max-width: 100%;
    height: auto;
}

#hobbies { 
    padding: 20px;
    border: 1px;
    margin: 20px;
    float: left;
}

.skillTree {
    padding: 20px;
    border: 1px;
    margin: 20px;
    float: right;
}

#hobbies::after { 
    clear:both;
}
.skillTree::after { 
    clear:both;
}

.hide {
    display: none;
}

#top {
    position: sticky;
    bottom: 20px;
    float: right;
    clear: both;
}

footer, hr {
    clear: both;
}

body {
    padding: 5px;
    font-size: 16px;
    width: 95%;
    max-width: 980px;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .flex {
        flex-direction: row;
    }
}

@media (min-width: 900px) {
    header {
        font-size: 2.5em;
    }
}

@media (min-width: 1200px) {
    body {
        padding: 100px;
    }

    table, .highlight {
        margin: 30px;
    }
}

  